html {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

header {
  display: flex;
}

.title {
  color: MediumAquamarine;
}

nav {
  display: inline-flex;
}

span {
    display: flex;
    justify-content: flex-start;
}

.column {
  display: inline-flex;
  flex-direction: column;
}
.column .large {
  width: 630px;
}

.column .medium {
  width: 300px;
}

.column .large {
  display: flex;
  flex-direction: column;
}

.substory {
  display: flex;
  flex-flow: row wrap;
}

.column .small {
  width: 240px;
}

h1 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

h1 .main {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

p {
font-family: Georgia;
font-weight: normal;
font-size: 17px;
color: black;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.storyimg1,
.storyimg2,
.storyimg3,
.storyimg4 {
  height: 250px;
  width: 300px;
}

div .main {
background-image: url(../images/img-story-main.png);
height: 250px;
margin: 5px;
}

.storyimg1 {
background-image: url(../images/img-story-1.png);
}

.storyimg2 {
background-image: url(../images/img-story-2.png);
}

.storyimg3 {
background-image: url(../images/img-story-3.png);
}

.storyimg4 {
  background-image: url(../images/img-news-bite.png);
}
.story p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
